<form class="form-container">
        <h1 mat-dialog-title>Create/Update Ipo</h1>
        <div mat-dialog-content>
            <div class="dialog-container">
                <mat-form-field>
                    <mat-select placeholder="Select Company" name="companyCode" [(ngModel)]="ipo.companyCode">
                        <mat-option *ngFor="let company of companies" [value]="company.companyCode">
                            {{company.companyCode}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Select Stock Exchange" name="stockExchange" [(ngModel)]="ipo.stockExchange">
                        <mat-option *ngFor="let exchange of stockExchanges" [value]="exchange.stockExchange">
                            {{exchange.stockExchange}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Price" name="price" [(ngModel)]="ipo.price">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="openDate" placeholder="Open Date" name="openDate"
                        [(ngModel)]="ipo.openDate">
                    <mat-datepicker-toggle matSuffix [for]="openDate"></mat-datepicker-toggle>
                    <mat-datepicker #openDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Remark" name="remark"
                        [(ngModel)]="ipo.remark"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial (click)="saveIpo()">Submit</button>
        </div>
    </form>