<form class="form-container">
        <h1 mat-dialog-title>Create/Update Stock Exchange</h1>
        <div mat-dialog-content>
            <div class="dialog-container">
                <p>
                    <span>Stock Exchange: </span>
                    <span>{{exchange.stockExchange}}</span>
                </p>
                <p>
                    <span>Brief: </span>
                    <span>{{exchange.brief}}</span>
                </p>
                <p>
                    <span>Contact Address: </span>
                    <span>{{exchange.contactAddress}}</span>
                </p>
                <p>
                    <span>Remark: </span>
                    <span>{{exchange.remark}}</span>
                </p>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Close</button>
        </div>
    </form>