<h1>Stock Market Charting</h1>

<mat-toolbar>
    <a mat-button routerLink="login">Login</a>
    <a mat-button routerLink="signup">Signup</a>
    <a mat-button routerLink="user">User Home</a>
    <a mat-button routerLink="admin">Admin - Home</a>
</mat-toolbar>
<div class="container">
    <div [hidden]="!signupSuccess">
        <p>Signup success, please use your account to login:</p>
    </div>
    <div [hidden]="!userExists">
        <p>Signup failed, user already exists, please use your account to login:</p>
    </div>
    <div [hidden]="!signupFailed">
        <p>Signup failed, unknow issue, please try again later or contact administrator.</p>
    </div>
</div>
<hr>
<router-outlet></router-outlet>