<form class="form-container">
    <h1 mat-dialog-title>Create/Update Company</h1>
    <div mat-dialog-content>
        <div class="dialog-container">
            <p>
                <span>Company Code: </span>
                <span>{{company.companyCode}}</span>
            </p>
            <p>
                <span>Company Name: </span>
                <span>{{company.companyName}}</span>
            </p>
            <p>
                <span>CEO Name & Board Members: </span>
                <span>{{company.ceo}}</span>
            </p>
            <p>
                <span>Directors: </span>
                <span>{{company.directors}}</span>
            </p>
            <p>
                <span>Turn Over: </span>
                <span>{{company.turnover}}</span>
            </p>
            <p>
                <span>Brief Description: </span>
                <span>{{company.introduction}}</span>
            </p>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Close</button>
    </div>
</form>