<app-header></app-header>
<div class="">
    <mat-tab-group>
        <mat-tab label="Import Data">
            <app-data-import></app-data-import>
        </mat-tab>
        <mat-tab label="Manage Company">
            <app-companies></app-companies>
        </mat-tab>
        <mat-tab label="Manage Exchange">
            <app-exchanges></app-exchanges>
        </mat-tab>
        <mat-tab label="Manage IPO Details">
            <app-ipos></app-ipos>
        </mat-tab>
    </mat-tab-group>
</div>