<section>
    <mat-form-field>
        <input matInput [matDatepicker]="from" placeholder="From Period" name="from"
            [(ngModel)]="searchData.from">
        <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
        <mat-datepicker #from></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="to" placeholder="To Period" name="to"
            [(ngModel)]="searchData.to">
        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
        <mat-datepicker #to></mat-datepicker>
    </mat-form-field>
</section>